{
	"globals": {
		"next": true,
		"done": true
	},
    "env": {
        "node": true,
    	"es6": true
    },
    "ecmaFeatures": { 
        modules: true 
    },
    "rules": {
        "quotes": [1, "single", "avoid-escape"],
        "no-use-before-define": 0,
        "no-underscore-dangle": 0,
        "eol-last": 1,
        "no-trailing-spaces": 1
    }    
}