.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

Page {
    background-color: white;
}


.listviewLabel {
    /*font-size: 40;*/
    /*color: green;*/
    /*background-color: red;*/
    margin: 8 16;
    font-size: 16;
    color: #131313;
}

#apa {

}