.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 16;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

Page {
    background-color: white;
}


.listviewLabel {
    /*font-size: 40;*/
    /*color: green;*/
    /*background-color: red;*/
    margin: 8 16;
    font-size: 16;
    color: #131313;
}

.searchResultsListViewLabel {
    margin: 8 16;
}


.type-segmented-bar {
    margin: 8 16;
}

/*.custom-tabs--tab-button {*/
    /*background-color: #851A31;*/
    /*color: #ffffff;*/
    /*horizontal-align: stretch;*/
/*}*/


.custom-tabs--tab-button {
    background-color: rgb(133, 26, 49);
    color: #ff0000;
}


/*$color-vgr-red:		rgb(133, 26, 49);   #851A31*/
/*$color-vgr-blue: 	rgb(0, 82, 146);*/
/*$color-vgr-green: 	rgb(096, 117, 57);*/
/*$color-vgr-yellow: 	rgb(225, 168, 0);*/




.action-bar {
    background: #ff0000;
}

.action-bar-title {
    color: #005292;
}

#head--action-bar {
    background-color: #F1F3F3;
    height: 56;
}

#head--title-bar {
    background-color: #F1F3F3;
    /*background-color: #F1F3F3;*/
    /*background-color: #4B5757;*/
    height: 30;
    padding-top: 12;
}


#head--tab-bar {
    background-color: #F1F3F3;
    height: 48;
}

.head--tab-bar--border-active {
    background-color: #851A31;
}

.head--tab-bar--border-nonactive {
    background-color: #cccccc;
}

.head--divider {
    background-color: #4B5757;
}

.head--tab-bar--label {
    font-size: 12;
    color: #4B5757;
    height: 46;
}

.head--icon {
    margin: 12;
}

.list--icon {
    margin: 12;
}