.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 16;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

Page {
    background-color: #ffffff;
}


.listviewLabel {
    margin: 8 16;
    font-size: 16;
    color: #131313;
}

.searchResultsListViewLabel {
    margin: 8 16;
}


.type-segmented-bar {
    margin: 8 16;
}

/*.custom-tabs--tab-button {*/
    /*background-color: #851A31;*/
    /*color: #ffffff;*/
    /*horizontal-align: stretch;*/
/*}*/


.custom-tabs--tab-button {
    background-color: rgb(133, 26, 49);
    color: #ff0000;
}


/*$color-vgr-red:		rgb(133, 26, 49);   #851A31    0.52156862745, 0.10196078431, 0.19215686274*/
/*$color-vgr-blue: 	    rgb(0, 82, 146);*/
/*$color-vgr-green: 	rgb(096, 117, 57);*/
/*$color-vgr-yellow: 	rgb(225, 168, 0);*/




.action-bar {
    background: #ff0000;
}

.action-bar-title {
    color: #005292;
}

#head--action-bar {
    background-color: #F1F3F3;
    height: 56;
}

#head--tab-bar {
    background-color: #F1F3F3;
    height: 48;
}

.head--tab-bar--border-active {
    background-color: #851A31;
}

.head--tab-bar--border-nonactive {
    background-color: #cccccc;
}

.head--divider {
    background-color: #4B5757;
}

.head--tab-bar--label {
    font-size: 14;
    color: #4B5757;
    height: 46;
}

.head--icon {
    margin: 12;
}

.list--icon {
    margin: 12;
}


.head--action-bar--back {
    font-weight: bold;
    font-size: 12;
    color: #879c9c;
}

#head--title-bar {
    background-color: #F1F3F3;
}

.head--title-bar--label {
    font-size: 14;
    font-weight: bold;
    color: #4B5757;
    margin-top: 12;
    text-align: center;
}

.head--title-bar--label-no-tabs {
    font-size: 14;
    font-weight: bold;
    color: #4B5757;
    margin-top: 12;
    margin-bottom: 12;
    text-align: center;
}

#start-page {
    background-color: #851A31;
}


.splash--rek {
    color: #ffffff;
    font-weight: bold;
    font-size: 40;
    padding-bottom: 0;
}

.splash--listan {
    color: #ffffff;
    font-weight: bold;
    font-size: 23;
}

.splash--loading-bullet {
    font-size: 100;
    color: #851A31;
}

.splash--loading-bullet--active {
    font-size: 100;
    color: #ffffff;
}

.splash--error {
    font-size: 13;
    color: #ffffff;
    margin-top: 20
}



.developer--log--logitem {
    margin: 3 12;
    font-size: 10;
}


/*.mainmenu--list-item {*/
    /*background-color: #ffffff;*/
    /*padding: 6;*/
    /*margin-left: 12;*/
    /*/!*margin-right: 6;*!/*/
    /*/!*margin-bottom: 1;*!/*/
/*}*/

/*.mainmenu--list-item--label {*/
    /*/!*color: #4B5757;*!/*/
    /*color: #111111;*/
    /*font-size: 12;*/
/*}*/

/*.mainmenu--list-item--lead {*/
    /*color: #4B5757;*/
    /*font-size: 10;*/
/*}*/

/*.mainmenu--menu {*/
    /*/!*background-color: #F1F3F3;*!/*/
    /*background-color: #851A31;*/
/*}*/


/*.mainmenu--side-divider {*/
    /*background-color: #dadcdc;*/
/*}*/








.mainmenu--list-item {
    margin: 6 12;
}

.mainmenu--list-item--label {
    /*color: #F9FAFB;*/
    color: #d4d5d6;
    font-size: 13;
    font-weight: bold;
}

.mainmenu--list-item--lead {
    color: #acadae;
    font-size: 11;
}

.mainmenu--menu {
    background-color: #2B3441;
    /*background-color: #232523;*/
    /*background-color: #2A2A2A;*/
}


.mainmenu--side-divider {
    background-color: #8f8f8f;
    /*background-color: #2A2A2A;*/
}

.mainmenu--list-item--divider {
    background-color: #3B4550;
    /*background-color: #1B1D1B;*/
    /*background-color: #454647;*/
}

.mainmenu--heading {
    background-color: #3B4550;
    /*background-color: #1B1D1B;*/
    /*background-color: #454647;*/
}

.mainmenu--heading--label {
    /*color: #ffffff;*/
    color: #d4d5d6;
    padding: 6 12;
    font-weight: bold;
    font-size: 10;
    text-align: center;
}



.mainmenu--vgrlogo {
    margin: 10 10 20 10;
}

.mainmenu--resource--icon {
    margin-top: 3;
    margin-left: 3;
}

.mainmenu--footer {
    margin-top: 20;
    margin-bottom: 10;
    color: #acadae;
    font-size: 9;
    text-align: center;
}



.appmessage {
    font-size: 12;
    height: 100;
    /*background-color: #244123;*/
    background-color: #2B3441;
}

.appmessage--label {
    color: #d4d5d6;
    font-weight: bold;
    text-align: center;
    padding-left: 24;
    padding-right: 24;
    padding-top: 12;
    padding-bottom: 12;
    /*background-color: #008fa1;*/
}


.appmessage--button {
    color: #d4d5d6;
    text-align: center;
    padding-left: 24;
    padding-right: 24;
    /*background-color: #14171b;*/
}

.appmessage--button--primary {
    color: #d4d5d6;
    font-weight: bold;
    text-align: center;
    padding-left: 24;
    padding-right: 24;
    background-color: #3B4550;
}

