.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 16;
    horizontal-align: center;
    background-color: #7cff3c;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

Page {
    background-color: white;
}


.listviewLabel {
    /*font-size: 40;*/
    /*color: green;*/
    /*background-color: red;*/
    margin: 8 16;
    font-size: 16;
    color: #131313;
}



.type-segmented-bar {
    margin: 8 16;
}

/*.custom-tabs--tab-button {*/
    /*background-color: #851A31;*/
    /*color: #ffffff;*/
    /*horizontal-align: stretch;*/
/*}*/


.custom-tabs--tab-button {
    background-color: rgb(133, 26, 49);
    color: #ff0000;
}


/*$color-vgr-red:		rgb(133, 26, 49);*/
/*$color-vgr-blue: 	rgb(0, 82, 146);*/
/*$color-vgr-green: 	rgb(096, 117, 57);*/
/*$color-vgr-yellow: 	rgb(225, 168, 0);*/

